body{
    background-color: #6D7D7E;
}
h1{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    color: white;
}

h3
{
    text-align: center;
    color: white;
}

div.cuadradoInf {
    position: absolute;
    top: 100px; left: 400px;
    width: 600px; 
    height: 400px;
    background: #000000;
}
a
{
    color: white;
    padding: 30px;
}


